.container {
  background-color: transparent;
  border-radius: 1rem;
  border: 5px solid var(--white);
  text-align: center;
  padding: 1rem;
}

.current {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}

.temperatures {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.temperatures p {
  font-weight: 900;
}

.temperatures span {
  font-weight: 400;
}