.title {
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
  font-weight: 800;
  background: linear-gradient(to right, #f59e0b, #fcd34d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.5px;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  gap: 3rem;
}

.alertWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    margin-top: 4rem;
    align-items: start;
  }
}

@media (max-width: 768px) {
  .alertWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
  }
}
